/* common styles */
.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.page-header {
    padding: 50px 0;
}

header {
    margin-bottom: -50px;
}

header .navbar-brand {
    width: auto;
    height: auto;
    padding-right: 30px;
}

header .navbar {
    background-color: #fff;
    border-bottom: 1px solid #c8ced3;
}
/* end of common styles */



 /*
 * Row with equal height columns
 * --------------------------------------------------
 */
.urbacard {
    cursor: pointer;
 }

.urbacard:hover {
    box-shadow: 5px 5px 10px #d2d2d2;
}

/* end of cards styling section*/



 /* modal section */
 .overlay {
    background-color: rgba(31, 30, 30, 0.6);
    z-index: 10000;
 }

 .overlay-content {
    top: 0;
 }

 #memberOverlay .closebtn {
    position: absolute;
    top: 5px;
    right: 25px;
 }

 #memberOverlay .closebtn:focus {
    outline: 0;
 }

 #memberOverlay .modal-main-section {
     padding-top: 15px;
 }
 
 @media (max-width: 576px) {
    .urbacard {
        text-align: center;
    }

    #memberOverlay .display-4 {
        font-size: 1.5rem;
    }

    #memberOverlay .slogan {
        font-size: 1.2rem;
    }
 }
 /* end of modal section */
